@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.btn-link {
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
    color: white;
}

.last {
    text-align: center;
    margin-left: 38%;
}

.d-flex a {
    text-decoration: none;
    color: white;
    padding: 12px;
    margin-left: 10%;
    text-align: center;
    width: 60px;
}

.heading {
    text-decoration: none;
    color: white;
}

.mar-5 {
    margin-right: 3rem;
    margin-left: 5rem;
}

.text-color {
    color: #ff8243;
}